<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
>
    <php>
        <!-- Indique la classe Kernel de ton projet -->
        <env name="KERNEL_CLASS" value="App\Kernel"/>
    </php>

    <testsuites>
        <testsuite name="API Portfolio Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
